@model pdf_markdown_manager.Models.Files

@{
    ViewData["Title"] = "Usuwanie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Napewno chcesz usunąć ten dokument? (Tak długo jak nie usuniesz notatki będziesz mógł wygenerować nowy dokument)</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
           </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy</a>
    </form>
</div>
