@model pdf_markdown_manager.Models.Documents

@{
    ViewData["Title"] = "Tworzenie notatki";
}

<h1>Tworzenie notatki</h1>
<hr />

<div class="row mt-2">
    <div class="col-md-12">
        <form asp-action="Create" style="width:100%">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="content" class="control-label"></label>
                <textarea asp-for="content" class="form-control" multiple="true"></textarea>
                <span asp-validation-for="content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="font_size" class="control-label"></label>
                <input asp-for="font_size" class="form-control" />
                <span asp-validation-for="font_size" class="text-danger"></span>
            </div>
            <div style="color:red;">
                @ViewData["ErrorMessage"]
            </div>

          
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrot do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
